In [1]:
pip install ucimlrepo --user

Looking in indexes: https://artifactory.apps.bancolombia.com/api/pypi/pypi-bancolombia/simpleNote: you may need to restart the kernel to use updated packages.

Collecting ucimlrepo
  Downloading https://artifactory.apps.bancolombia.com/api/pypi/pypi-bancolombia/packages/packages/85/8b/aab8a1c1344af158feb0b7f13d15ae184bc1e93625cea98d9c783b2e29d4/ucimlrepo-0.0.2-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.2

WARNING: Ignoring invalid distribution -cipy (c:\users\jopulgar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\jopulgar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\jopulgar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\jopulgar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\jopulgar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\jopulgar\anaconda3\lib\site-packages)

Estamos descargando una Base de datos  de informacion creditica de un banco aleman de 1994. Este conjunto de datos clasifica a las personas descritas por un conjunto de atributos como de buen o mal riesgo crediticio.

In [ ]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
statlog_german_credit_data = fetch_ucirepo(id=144) 
  
# data (as pandas dataframes) 
X = statlog_german_credit_data.data.features 
y = statlog_german_credit_data.data.targets 
  
# metadata 
print(statlog_german_credit_data.metadata) 
  
# variable information 
print(statlog_german_credit_data.variables)

Revision de nuestras variables

In [32]:
#Revisar nuestros datos 
X.head(2)

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,Attribute11,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201

In [ ]:
#Rebombrar nuestras columnas con base a la documentacion 


X.rename(columns={
    'Attribute1': 'Estado_Cuenta_Corriente','Attribute2': 'Duracion_Meses','Attribute3': 'Historial_Credito','Attribute4': 'Proposito','Attribute5': 'Monto_Credito',
     'Attribute6': 'Estado_Cuenta_Ahorros','Attribute7': 'Antiguedad_Empleo','Attribute8': 'Porcentaje_Cuota','Attribute9': 'Estado_Personal_Sexo','Attribute10': 'Otros_Deudores_Avalistas',
 'Attribute11': 'Antiguedad_Residencia','Attribute12': 'Tipo_Propiedad','Attribute13': 'Edad_Anos','Attribute14': 'Otros_Planes_Financiamiento','Attribute15': 'Tipo_Vivienda',
 'Attribute16': 'Cantidad_Creditos_Existentes','Attribute17': 'Tipo_Trabajo','Attribute18': 'Cantidad_Dependientes','Attribute19': 'Telefono',
 'Attribute20': 'Es_Trabajador_Extranjero'
}, inplace=True)

Es iportante hacer un peque√±o anlisis de nuestra base de datos y revisar que tipos de datos tenemos como si tambien tenemos datos faltantes

In [29]:
X.isna().any().any()

False

In [24]:
#Atributo que nos devuelve la existencia de datos faltantes
X.isna().value_counts()

Estado_Cuenta_Corriente  Duracion_Meses  Historial_Credito  Proposito  Monto_Credito  Estado_Cuenta_Ahorros  Antiguedad_Empleo  Porcentaje_Cuota  Estado_Personal_Sexo  Otros_Deudores_Avalistas  Antiguedad_Residencia  Tipo_Propiedad  Edad_Anos  Otros_Planes_Financiamiento  Tipo_Vivienda  Cantidad_Creditos_Existentes  Tipo_Trabajo  Cantidad_Dependientes  Telefono  Es_Trabajador_Extranjero
False                    False           False              False      False          False                  False              False             False                 False                     False                  False           False      False                        False          False                         False         False                  False     False                       1000
Name: count, dtype: int64

In [13]:
X.head(2)

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,Attribute11,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201

In [26]:
#Revisar los tipos de datos de nuestras variables
X.dtypes
#int64 = variable numerica 
#Objeto normalmente un texto pero puede ser el caso de tener texto y numeros

Estado_Cuenta_Corriente         object
Duracion_Meses                   int64
Historial_Credito               object
Proposito                       object
Monto_Credito                    int64
Estado_Cuenta_Ahorros           object
Antiguedad_Empleo               object
Porcentaje_Cuota                 int64
Estado_Personal_Sexo            object
Otros_Deudores_Avalistas        object
Antiguedad_Residencia            int64
Tipo_Propiedad                  object
Edad_Anos                        int64
Otros_Planes_Financiamiento     object
Tipo_Vivienda                   object
Cantidad_Creditos_Existentes     int64
Tipo_Trabajo                    object
Cantidad_Dependientes            int64
Telefono                        object
Es_Trabajador_Extranjero        object
dtype: object

In [18]:
X.head(3)

,Estado_Cuenta_Corriente,Duracion_Meses,Historial_Credito,Proposito,Monto_Credito,Estado_Cuenta_Ahorros,Antiguedad_Empleo,Porcentaje_Cuota,Estado_Personal_Sexo,Otros_Deudores_Avalistas,Antiguedad_Residencia,Tipo_Propiedad,Edad_Anos,Otros_Planes_Financiamiento,Tipo_Vivienda,Cantidad_Creditos_Existentes,Tipo_Trabajo,Cantidad_Dependientes,Telefono,Es_Trabajador_Extranjero
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201

In [20]:

y.value_counts()
#Revisar en la documentacion  que significan las clases

class
1        700
2        300
Name: count, dtype: int64

In [19]:
y.head(2)

   class
0      1
1      2